.icon-position {
  position: initial;
  left: 0px;
  /* bottom: 0px; */
  margin-top: 9px;
  margin-right: 10px;
}

.div-alert {
  background-color: #F2DEDE;
  width: 80%;
  border: 2px solid #EBCCCC;
  border-radius: 2px;
  padding: 20px;
}
