<div layout="row" layout-align="center center">
  <md-card style="width: 33%">
    <md-card-title>Editar Associação</md-card-title>
    <md-card-content>
      <form [formGroup]="formAssociacao">
        <div layout="column">
          <div layout="row">
            <md-icon class="icon-position" [style.color]="formError?.nome ? 'red' :'black'">person</md-icon>
            <md-input-container class="width-60">
              <input mdInput placeholder="Nome" formControlName="nome">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="md-24 icon-position" md-list-avatar svgIcon="cpf" [style.color]="formError?.cpf ? 'red' :'black'"></md-icon>
            <md-input-container class="width-40">
              <input mdInput placeholder="Cnpj" [textMask]="{mask: cnpj }" formControlName="cpf">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">font_download</md-icon>
            <md-input-container class>
              <input mdInput placeholder="Sigla" formControlName="sigla">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position" [style.color]="formError?.endereco ? 'red' :'black'">home</md-icon>
            <md-input-container class>
              <input mdInput placeholder="Endereço" formControlName="endereco">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">home</md-icon>
            <md-input-container class>
              <input mdInput placeholder="Bairro" formControlName="bairro">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position" [style.color]="formError?.telefone ? 'red' :'black'">phone</md-icon>
            <md-input-container class="width-30">
              <input mdInput placeholder="Telefone" formControlName="telefone" [textMask]="{mask: maskTelefone }">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon style="margin-right: 10px;margin-top: 5px;" [style.color]="formError?.estado ? 'red' :'black'">view_comfy</md-icon>
            <md-input-container class>
              <input type="text" mdInput [mdAutocomplete]="api" formControlName="estado" placeholder="Estado">
            </md-input-container>
            <md-autocomplete #api="mdAutocomplete" [displayWith]="displayFn" class>
              <md-option *ngFor="let estado of listEstadosFiltered | async" [value]="estado">
                {{ estado.getNome() }}
              </md-option>
            </md-autocomplete>
          </div>
          <div layout="row">
            <md-icon style="margin-right: 10px;margin-top: 5px;" [style.color]="formError?.municipio ? 'red' :'black'">view_comfy</md-icon>
            <md-input-container class>
              <input type="text" mdInput [mdAutocomplete]="apii" formControlName="municipio" placeholder="Municipio">
            </md-input-container>
            <md-autocomplete #apii="mdAutocomplete" [displayWith]="displayFn" class>
              <md-option *ngFor="let municipio of listMunicipioFiltered | async" [value]="municipio">
                {{ municipio.getNome() }}
              </md-option>
            </md-autocomplete>
          </div>
          <div layout="row">
            <md-icon class="icon-position">home</md-icon>
            <md-input-container class="width-30">
              <input mdInput placeholder="Cep" formControlName="cep" [textMask]="{mask: cep }">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">email</md-icon>
            <md-input-container class>
              <input mdInput placeholder="Email" formControlName="email">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position" [style.color]="formError?.senha ? 'red' :'black'">lock</md-icon>
            <div layout="column" class="width-60">
              <md-input-container class>
                <input mdInput placeholder="Senha" type="password" value="123123123123" formControlName="senha">
              </md-input-container>
            </div>
          </div>
          <div layout="row">
            <md-icon class="icon-position" [style.color]="formError?.confirmar_senha ? 'red' :'black'">lock</md-icon>
            <div layout="column" class="width-60">
              <md-input-container>
                <input mdInput placeholder="Confirmar senha" type="password" value="123123123123" formControlName="confirmar_senha">
              </md-input-container>
              <div *ngIf="formError?.confirmar_senha" class="alert-danger">{{formError?.confirmar_senha.confirmar_senha.no_match}}</div>
            </div>
          </div>
          <h4>Presidente</h4>
          <div layout="row">
            <md-icon class="icon-position" [style.color]="formError?.contatoPresidenteNome ? 'red' :'black'">person</md-icon>
            <md-input-container class="width-60">
              <input mdInput placeholder="Nome" formControlName="contatoPresidenteNome">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">phone</md-icon>
            <md-input-container class="width-30">
              <input mdInput placeholder="Telefone" formControlName="contatoPresidenteTelefone" [textMask]="{mask: maskTelefone }">
            </md-input-container>
          </div>
        </div>
      </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="start center">
      <button md-raised-button color="primary" (click)="salvar()" [disabled]="!formAssociacao.valid">{{associacao ? 'Atualizar' : 'Salvar'}}</button>
      <button md-raised-button color="primary" color="warn" [routerLink]="['/home/associações']">Voltar</button>
    </md-card-actions>
  </md-card>
</div>
