<div layout="row" layout-align="center center">
  <mat-card style="width: 33%">
    <mat-card-title>Editar Associação</mat-card-title>
    <mat-card-content>
      <form [formGroup]="formAssociacao">
        <div layout="column">
          <div layout="row">
            <mat-icon class="icon-position" [style.color]="formError?.nome ? 'red' :'black'">person</mat-icon>
            <mat-form-field class="width-60">
              <input matInput placeholder="Nome" formControlName="nome">
            </mat-form-field>
          </div>
          <div layout="row">
            <mat-icon class="mat-24 icon-position" mat-list-avatar svgIcon="cpf" [style.color]="formError?.cpf ? 'red' :'black'"></mat-icon>
            <mat-form-field class="width-40">
              <input matInput placeholder="Cnpj" [textMask]="{mask: cnpj }" formControlName="cpf">
            </mat-form-field>
          </div>
          <div layout="row">
            <mat-icon class="icon-position">font_download</mat-icon>
            <mat-form-field class>
              <input matInput placeholder="Sigla" formControlName="sigla">
            </mat-form-field>
          </div>
          <div layout="row">
            <mat-icon class="icon-position" [style.color]="formError?.endereco ? 'red' :'black'">home</mat-icon>
            <mat-form-field class>
              <input matInput placeholder="Endereço" formControlName="endereco">
            </mat-form-field>
          </div>
          <div layout="row">
            <mat-icon class="icon-position">home</mat-icon>
            <mat-form-field class>
              <input matInput placeholder="Bairro" formControlName="bairro">
            </mat-form-field>
          </div>
          <div layout="row">
            <mat-icon class="icon-position" [style.color]="formError?.telefone ? 'red' :'black'">phone</mat-icon>
            <mat-form-field class="width-30">
              <input matInput placeholder="Telefone" formControlName="telefone" [textMask]="{mask: maskTelefone }">
            </mat-form-field>
          </div>
          <div layout="row">
            <mat-icon style="margin-right: 10px;margin-top: 5px;" [style.color]="formError?.estado ? 'red' :'black'">view_comfy</mat-icon>
            <mat-form-field class>
              <input type="text" matInput [matAutocomplete]="api" formControlName="estado" placeholder="Estado">
            </mat-form-field>
            <mat-autocomplete #api="matAutocomplete" [displayWith]="displayFn" class>
              <mat-option *ngFor="let estado of listEstadosFiltered | async" [value]="estado">
                {{ estado.getNome() }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div layout="row">
            <mat-icon style="margin-right: 10px;margin-top: 5px;" [style.color]="formError?.municipio ? 'red' :'black'">view_comfy</mat-icon>
            <mat-form-field class>
              <input type="text" matInput [matAutocomplete]="apii" formControlName="municipio" placeholder="Municipio">
            </mat-form-field>
            <mat-autocomplete #apii="matAutocomplete" [displayWith]="displayFn" class>
              <mat-option *ngFor="let municipio of listMunicipioFiltered | async" [value]="municipio">
                {{ municipio.getNome() }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div layout="row">
            <mat-icon class="icon-position">home</mat-icon>
            <mat-form-field class="width-30">
              <input matInput placeholder="Cep" formControlName="cep" [textMask]="{mask: cep }">
            </mat-form-field>
          </div>
          <div layout="row">
            <mat-icon class="icon-position">email</mat-icon>
            <mat-form-field class>
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
          </div>
          <div layout="row">
            <mat-icon class="icon-position" [style.color]="formError?.senha ? 'red' :'black'">lock</mat-icon>
            <div layout="column" class="width-60">
              <mat-form-field class>
                <input matInput placeholder="Senha" type="password" value="123123123123" formControlName="senha">
              </mat-form-field>
            </div>
          </div>
          <div layout="row">
            <mat-icon class="icon-position" [style.color]="formError?.confirmar_senha ? 'red' :'black'">lock</mat-icon>
            <div layout="column" class="width-60">
              <mat-form-field>
                <input matInput placeholder="Confirmar senha" type="password" value="123123123123" formControlName="confirmar_senha">
              </mat-form-field>
              <div *ngIf="formError?.confirmar_senha" class="alert-danger">{{formError?.confirmar_senha.confirmar_senha.no_match}}</div>
            </div>
          </div>
          <h4>Presidente</h4>
          <div layout="row">
            <mat-icon class="icon-position" [style.color]="formError?.contatoPresidenteNome ? 'red' :'black'">person</mat-icon>
            <mat-form-field class="width-60">
              <input matInput placeholder="Nome" formControlName="contatoPresidenteNome">
            </mat-form-field>
          </div>
          <div layout="row">
            <mat-icon class="icon-position">phone</mat-icon>
            <mat-form-field class="width-30">
              <input matInput placeholder="Telefone" formControlName="contatoPresidenteTelefone" [textMask]="{mask: maskTelefone }">
            </mat-form-field>
          </div>
           <div class="div-alert" *ngIf="showTermo">
              <div>
                <h4>Acordo de Cooperação Abelha</h4>
                <mat-radio-group class="example-radio-group" class="m-left-15" formControlName="acordoCooperacaoAbelha">
                  <mat-radio-button name="sif" [value]="true">Sim </mat-radio-button>
                  <mat-radio-button name="sif" [value]="false">Não </mat-radio-button>
                </mat-radio-group>
              </div>

              <div layout="column">
                <h4 flex="">Validade do termo de compromisso</h4>
                <app-data-picker-custom (onSelect)="select($event)" [fontFamily]="font" [date]="dataTermoCompromisso" [dateFormat]="'DD-MM-YYYY'"
                  [placeholder]="'DD/MM/YYYY'" [disabled]="false" class="date-picker-custom date-picker-input">
                </app-data-picker-custom>
              </div>
            </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions layout="row" layout-align="start center">
      <button mat-raised-button color="primary" (click)="salvar()" [disabled]="!formAssociacao.valid">{{associacao ? 'Atualizar' : 'Salvar'}}</button>
      <button mat-raised-button color="primary" color="warn" [routerLink]="['/home/associações']">Voltar</button>
    </mat-card-actions>
  </mat-card>
</div>
