<div layout="row" layout-align="center center">
  <md-card style="width: 33%">
    <md-card-title>Editar Associação</md-card-title>
    <md-card-content>
      <form>
        <div layout="column">
          <div layout="row">
            <md-icon class="icon-position">person</md-icon>
            <md-input-container style="width: 60%">
              <input mdInput placeholder="Nome" value="Luis Roberto da Silva">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">font_download</md-icon>
            <md-input-container style="width: 60%">
              <input mdInput placeholder="Sigla" value="1APR_E">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">home</md-icon>
            <md-input-container style="width: 60%">
              <input mdInput placeholder="Endereço" value="Av. Sylvio Marcondes">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">home</md-icon>
            <md-input-container style="width: 60%">
              <input mdInput placeholder="Bairro" value="Adalberto Roxo">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">phone</md-icon>
            <md-input-container style="width: 60%">
              <input mdInput placeholder="Telefone" value="(99) 9999-9999">
            </md-input-container>
          </div>
          <div layout="row" style="margin-top: 15px;">
            <md-icon class="icon-position">view_comfy</md-icon>
            <md-select placeholder="Estado" name="estado" style="width: 40%;">
              <!--<md-option selected *ngFor="let apicultor of apicultores" [value]="apicultor.value">
                  {{apicultor.nome}}
                </md-option>-->
            </md-select>
          </div>
          <div layout="row" style="margin-top: 15px; margin-bottom: 15px;">
            <md-icon class="icon-position">view_comfy</md-icon>
            <md-input-container style="width: 60%">
              <input mdInput placeholder="Municipio" value="Limeira">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">home</md-icon>
            <md-input-container style="width: 60%">
              <input mdInput placeholder="Cep" value="4.806-005">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">email</md-icon>
            <md-input-container style="width: 60%">
              <input mdInput placeholder="Email" value="example@example.com.br">
            </md-input-container>
          </div>
          <h4>Presidente</h4>
          <div layout="row">
            <md-icon class="icon-position">person</md-icon>
            <md-input-container style="width: 60%">
              <input mdInput placeholder="Nome" value="Luis Roberto da Silva">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">phone</md-icon>
            <md-input-container style="width: 60%">
              <input mdInput placeholder="Telefone" value="(99) 9999-9999">
            </md-input-container>
          </div>
        </div>
      </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="start center">
      <button md-raised-button color="primary">Salvar</button>
    </md-card-actions>
  </md-card>
</div>
