<div layout="row" layout-align="center center">
  <md-card>
    <md-card-title>Card with title</md-card-title>
    <md-card-content>
      <p>This is supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad</p>
      <form>
        <div layout="column">
          <div layout="row">
            <md-icon class="icon-position">person</md-icon>
            <md-input-container style="width: 40%">
              <input md-input placeholder="Nome">
            </md-input-container>
          </div>
          <md-select placeholder="Perfil" name="perfil" style="width: 40%;margin-bottom: 20px;">
            <!--<md-option selected *ngFor="let apicultor of apicultores" [value]="apicultor.value">
                  {{apicultor.nome}}
                </md-option>-->
          </md-select>
          <div layout="row">
            <md-icon class="icon-position">group</md-icon>
            <md-select placeholder="Associação" name="associação" style="width: 40%;margin-bottom: 20px;">
              <!--<md-option selected *ngFor="let apicultor of apicultores" [value]="apicultor.value">
                  {{apicultor.nome}}
                </md-option>-->
            </md-select>
          </div>
          <div layout="row">
            <md-icon class="icon-position">filter_none</md-icon>
            <md-input-container style="width: 40%">
              <input md-input placeholder="Quantidade de caixas fixas">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">home</md-icon>
            <md-input-container style="width: 40%">
              <input md-input placeholder="Endereço">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">phone_android</md-icon>
            <md-input-container style="width: 40%">
              <input md-input placeholder="Celular 1">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">phone_android</md-icon>
            <md-input-container style="width: 40%">
              <input md-input placeholder="Celular 2">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">phone</md-icon>
            <md-input-container style="width: 40%">
              <input md-input placeholder="Telefone">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">grain</md-icon>
            <md-input-container style="width: 40%">
              <input md-input placeholder="Quantidade de pontos">
            </md-input-container>
          </div>
          <md-select placeholder="Estado" name="estado" style="width: 40%;margin-bottom: 20px;">
            <!--<md-option selected *ngFor="let apicultor of apicultores" [value]="apicultor.value">
                  {{apicultor.nome}}
                </md-option>-->
          </md-select>
          <md-select placeholder="Municipio" name="municipio" style="width: 40%;margin-bottom: 20px;">
            <!--<md-option selected *ngFor="let apicultor of apicultores" [value]="apicultor.value">
                  {{apicultor.nome}}
                </md-option>-->
          </md-select>
          <md-input-container style="width: 40%">
            <input md-input placeholder="Cpf">
          </md-input-container>
          <div layout="row">
            <md-icon class="icon-position">email</md-icon>
            <md-input-container style="width: 40%">
              <input md-input placeholder="Email">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">lock</md-icon>
            <md-input-container style="width: 40%">
              <input md-input placeholder="Senha">
            </md-input-container>
          </div>
          <div layout="row">
            <md-icon class="icon-position">lock</md-icon>
            <md-input-container style="width: 40%">
              <input md-input placeholder="Confirmar senha">
            </md-input-container>
          </div>
          <div layout="row">
            <div flex="">
              <h3>Registro SIF</h3>
            </div>
            <div flex="">
              <md-radio-group class="example-radio-group" style="margin-left: 15px;">
                <md-radio-button name="sif" value="sim">Sim </md-radio-button>
                <md-radio-button name="sif" value="nao">Não </md-radio-button>
              </md-radio-group>
            </div>
          </div>
          <div layout="row">
            <md-icon class="icon-position">filter_none</md-icon>
            <md-input-container style="width: 40%">
              <input md-input placeholder="Quantidades de caixas migratórias">
            </md-input-container>
          </div>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
