<td-data-table [selectable]="selectable" [data]="filteredData" [columns]="columns" [multiple]="multiple" [sortable]="sortable"
  [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="sortTable($event)" (rowSelect)="itemSelected($event)" id="table">
  <!--Template Lista Apiario-->
  <template tdDataTableTemplate="attributes.ativo" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <md-icon [style.color]="row[column] ? 'green' : row[column] ? 'red' : '#ffd740'">{{row[column] ? 'check_circle': row[column] ? 'report':'warning' }}</md-icon>
    </div>
  </template>
  <template tdDataTableTemplate="acoes" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <button md-icon-button [mdMenuTriggerFor]="menu">
              <md-icon>menu</md-icon>
              </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="confirmarValidacao()"> <md-icon>check</md-icon> Validar </button>
        <button md-menu-item (click)="acoes('EDITAR',row)"> <md-icon>mode_edit</md-icon>Editar </button>
        <button md-menu-item (click)="acoes('EXCLUIR')"> <md-icon>delete</md-icon> Excluir </button>
        <button md-menu-item disabled (click)="acoes('HISTORICO')"> <md-icon>history</md-icon> Histórico </button>
      </md-menu>
    </div>
  </template>
  <!--Template Lista Apiario-->
  <template tdDataTableTemplate="usuario" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <md-icon style="margin-right: 10px;">person</md-icon><span class="md-body-1">{{row[column]}}</span>
    </div>
  </template>
  <template tdDataTableTemplate="nome" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <md-icon style="margin-right: 10px;">view_comfy</md-icon><span class="md-body-1">{{row[column]}}</span>
    </div>
  </template>
  <template tdDataTableTemplate="propriedade" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <md-icon style="margin-right: 10px;">label</md-icon><span class="md-body-1">{{row[column]}}</span>
    </div>
  </template>
  <template tdDataTableTemplate="acoes_usuario" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <button md-icon-button [mdMenuTriggerFor]="menuUser">
              <md-icon>menu</md-icon>
              </button>
      <md-menu #menuUser="mdMenu">
        <button md-menu-item> <md-icon>mode_edit</md-icon>Editar </button>
        <button md-menu-item> <md-icon>delete</md-icon> Excluir </button>
      </md-menu>
    </div>
  </template>
  <template tdDataTableTemplate="acoes_associacao" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <button md-icon-button [mdMenuTriggerFor]="menuAssociacao">
              <md-icon>menu</md-icon>
              </button>
      <md-menu #menuAssociacao="mdMenu">
        <button md-menu-item> <md-icon>mode_edit</md-icon>Editar </button>
        <button md-menu-item> <md-icon>delete</md-icon> Excluir </button>
      </md-menu>
    </div>
  </template>
  <template tdDataTableTemplate="acoes_propriedade" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <button md-icon-button [mdMenuTriggerFor]="menuPropriedade">
              <md-icon>menu</md-icon>
              </button>
      <md-menu #menuPropriedade="mdMenu">
        <button md-menu-item> <md-icon>mode_edit</md-icon>Editar </button>
        <button md-menu-item> <md-icon>delete</md-icon> Excluir </button>
      </md-menu>
    </div>
  </template>
</td-data-table>
<td-paging-bar2 *ngIf="showPagination" [pageSizes]="[5, 10, 15, 20]" [total]="data.length" (change)="page($event)"></td-paging-bar2>
