<mat-card>
  <mat-card-title>Usuários</mat-card-title>
  <mat-card-content>
    <div layout="row" layout-align="end center">
      <button *ngIf="perfil == 'GESTOR'" [routerLink]="['/home/editar/usuario']" mat-raised-button color="primary" style="margin-bottom: 25px;height: 35px;"> <mat-icon>add</mat-icon> Adicionar</button>
    </div>
      <app-table #table style="width: 100%" [data]="listUser" [columns]="columns" [selectable]="false" [showPagination]="true" [multiple]="false"
        [showSelectionJquery]="true"  (itemSelected2)="acoes($event)" [sortable]="true"></app-table>
  </mat-card-content>
</mat-card>

