.login-toolbar-positon {
  position: absolute;
  top: 0px;
  left: 0px;
}

.login-content-position{
    margin-top: 60px;
}

.login-button{
    width: 100%;
}

.login-icons{
   margin-right: 10px;
}
.m-top-20{
    margin-top: 20px;
}
