<div layout="row" layout-align="center center">
  <img class="m-top-20"   src="assets/logo.png" alt="">
</div>
<div layout="column" style="margin-top: 60px;align-items: center;margin-left: -60px;">
  <mat-card>
    <mat-card-title>
      <mat-toolbar class="login-toolbar-positon" color="accent"> </mat-toolbar>
    </mat-card-title>
    <mat-card-content class="login-content-position" layout="column">
      <form [formGroup]="formLogin" layout="column">
        <section>
          <mat-slide-toggle   [checked]="false" (change)="change($event)">
            Associação
          </mat-slide-toggle>
        </section>
        <div layout="row" style="align-items: center">
          <mat-icon class="login-icons">person</mat-icon>
          <mat-form-field>
            <input matInput name="username" formControlName="username" [textMask]="{mask: selectedValue  ? cnpj : cpf }" [placeholder]="selectedValue ? ' Cnpj': ' Cpf'">
          </mat-form-field>
        </div>
        <div layout="row" style="align-items: center;">
          <mat-icon class="login-icons">lock</mat-icon>
          <mat-form-field>
            <input matInput name="password" formControlName="password" type="password" placeholder=" senha" value="">
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions layout="row" layout-align="center">
      <button [disabled]="!formLogin.valid" (click)="login()" class="login-button" mat-raised-button color="accent">Entrar<mat-icon style="margin-left: 5px">input</mat-icon></button>
    </mat-card-actions>
  </mat-card>
  <span style="font-weight:600;color: darkgray">versão {{versao}}</span>
</div>
