<mat-card class="m-20">
  <mat-card-title>Apiarios</mat-card-title>
  <div layout="row">
    <mat-card class="width-100">
      <mat-card-content>
        <div layout="row">
          <div layout="column" flex="10">
            <div flex>
              <h3>Status</h3>
            </div>
            <div>
              <mat-radio-group layout="column"  [formControl]="controlStatus">
                <mat-radio-button name="filtro" [checked]="true" value="todos" >Todos</mat-radio-button>
                <mat-radio-button name="filtro" value="validados">Validados</mat-radio-button>
                <mat-radio-button name="filtro" value="nao_validado">Não Validados</mat-radio-button>
                <mat-radio-button name="filtro" value="desativado">Desativados</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div layout="column" flex="35">
            <div flex>
              <h3>Periodo</h3>
            </div>
            <div flex class="group-date-picker">
              <div>
                <span>De :</span>
                <app-data-picker-custom    (onSelect)="selectDate('startDate',$event)" [fontFamily]="font" [dateFormat]="'DD-MM-YYYY'" [placeholder]="'DD/MM/YYYY'"
                  [disabled]="false" class="date-picker-custom date-picker-input">
                </app-data-picker-custom>
              </div>
              <div class="m-left-10">
                <span>Ate :</span>
                <app-data-picker-custom (onSelect)="selectDate('endDate',$event)" [fontFamily]="font" [dateFormat]="'DD-MM-YYYY'" [placeholder]="'DD/MM/YYYY'"
                  class="date-picker-custom date-picker-input">
                </app-data-picker-custom>
              </div>
            </div>
          </div>
          <div layout="column" flex="15" class="m-left-5">
            <div flex="">
              <h3 style="height: 5px">Apicultor</h3>
            </div>
            <div flex="">
              <mat-form-field class="group-auto-complete" >
                <input type="text" matInput [matAutocomplete]="auto1" [formControl]="controlApicultor">
              </mat-form-field>
              <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn" class="width-95">
                <mat-option *ngFor="let option of filteredOptionsApicultor | async" [value]="option">
                  {{ option.getNome() }}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div layout="column" flex="15" class=".m-left-15">
            <div flex="">
              <h3 style="height: 5px">Propriedade</h3>
            </div>
            <div flex="">
              <mat-form-field class="group-auto-complete" >
                <input type="text" matInput [matAutocomplete]="auto" [formControl]="controlPropriedade">
              </mat-form-field>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" class="width-95">
                <mat-option *ngFor="let option of filteredOptionsPropriedade | async" [value]="option">
                  {{ option.getNome() }}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div layout="row" flex="20" layout-align="end center">
            <div flex>
              <button mat-raised-button  id="button-search" color="primary"  (click)="listarApiario()"><mat-icon>search</mat-icon></button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card-content>
    <div layout="row">
      <app-table #table class="width-100" [data]="listApiario" [columns]="columns" [selectable]="false" [showPagination]="'true'" (itemSelected2)="acoes($event)" [sortable]="true"></app-table>
    </div>
  </mat-card-content>
</mat-card>
<!--<button (click)="testeLogin()">Teste login</button>-->
