<md-card class="m-20">
  <md-card-title>Apiarios</md-card-title>
  <div layout="row">
    <md-card class="width-100">
      <md-card-content>
        <div layout="row">
          <div layout="column" flex="10">
            <div flex>
              <h3>Status</h3>
            </div>
            <div>
              <md-radio-group layout="column"  [formControl]="controlStatus">
                <md-radio-button name="filtro" [checked]="true" value="todos" >Todos</md-radio-button>
                <md-radio-button name="filtro" value="validados">Validados</md-radio-button>
                <md-radio-button name="filtro" value="nao_validado">Não Validados</md-radio-button>
              </md-radio-group>
            </div>
          </div>
          <div layout="column" flex="35">
            <div flex>
              <h3>Periodo</h3>
            </div>
            <div flex class="group-date-picker">
              <div>
                <span>De :</span>
                <app-data-picker-custom    (onSelect)="selectDate('startDate',$event)" [fontFamily]="font" [dateFormat]="'DD-MM-YYYY'" [placeholder]="'DD/MM/YYYY'"
                  [disabled]="false" class="date-picker-custom date-picker-input">
                </app-data-picker-custom>
              </div>
              <div class="m-left-10">
                <span>Ate :</span>
                <app-data-picker-custom (onSelect)="selectDate('endDate',$event)" [fontFamily]="font" [dateFormat]="'DD-MM-YYYY'" [placeholder]="'DD/MM/YYYY'"
                  class="date-picker-custom date-picker-input">
                </app-data-picker-custom>
              </div>
            </div>
          </div>
          <div layout="column" flex="15" class="m-left-5">
            <div flex="">
              <h3 style="height: 5px">Apicultor</h3>
            </div>
            <div flex="">
              <md-input-container class="group-auto-complete" >
                <input type="text" mdInput [mdAutocomplete]="auto1" [formControl]="controlApicultor">
              </md-input-container>
              <md-autocomplete #auto1="mdAutocomplete" [displayWith]="displayFn" class="width-95">
                <md-option *ngFor="let option of filteredOptionsApicultor | async" [value]="option">
                  {{ option.getNome() }}
                </md-option>
              </md-autocomplete>
            </div>
          </div>
          <div layout="column" flex="15" class=".m-left-15">
            <div flex="">
              <h3 style="height: 5px">Propriedade</h3>
            </div>
            <div flex="">
              <md-input-container class="group-auto-complete">
                <input type="text" mdInput [mdAutocomplete]="auto" [formControl]="controlPropriedade">
              </md-input-container>
              <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn" class="width-95">
                <md-option *ngFor="let option of filteredOptionsPropriedade | async" [value]="option">
                  {{ option.getNome() }}
                </md-option>
              </md-autocomplete>
            </div>
          </div>
          <div layout="row" flex="20" layout-align="end center">
            <div flex>
              <button md-raised-button  id="button-search" color="primary"  (click)="listarApiario()"><md-icon>search</md-icon></button>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <md-card-content>
    <div layout="row">
      <app-table #table class="width-100" [data]="listApiario" [columns]="columns" [selectable]="false" [showPagination]="'true'" (itemSelected2)="acoes($event)" [sortable]="true"></app-table>
    </div>
  </md-card-content>
</md-card>
<!--<button (click)="testeLogin()">Teste login</button>-->
