<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <!--Apiarios-->
    <td-expansion-panel [expand]="expand">
      <ng-template td-expansion-panel-label>
        <mat-icon class="mat-16" mat-list-avatar>menu</mat-icon>
      </ng-template>
      <ng-template #panelUser td-expansion-panel-sublabel>
        <mat-list-item>
          <h4 mat-line>Apiarios</h4>
        </mat-list-item>
      </ng-template>
      <td-expansion-summary>
        <mat-list>
          <mat-list-item [routerLink]="['home/lista/apiarios']" class="margin-item-menu" (click)="sidenav.toggle()">
            <h4 mat-line>Listar Apiarios</h4>
          </mat-list-item>
          <mat-list-item [routerLink]="['home/edicao/multipla']" class="margin-item-menu" (click)="sidenav.toggle()">
            <h4 mat-line>Edição multipla</h4>
          </mat-list-item>
        </mat-list>
      </td-expansion-summary>
    </td-expansion-panel>
    <!--Apiarios-->
    <!--Associações-->
    <td-expansion-panel [expand]="expand">
      <ng-template td-expansion-panel-label>
        <mat-icon class="mat-16" mat-list-avatar>menu</mat-icon>
      </ng-template>
      <ng-template td-expansion-panel-sublabel>
        <mat-list-item>
          <h4 mat-line>Associações</h4>
        </mat-list-item>
      </ng-template>
      <td-expansion-summary>
        <mat-list>
          <mat-list-item [routerLink]="['home/associações']" class="margin-item-menu" (click)="sidenav.toggle()">
            <h4 mat-line>Listar Associações</h4>
          </mat-list-item>
        </mat-list>
      </td-expansion-summary>
    </td-expansion-panel>
    <!--Associações-->
    <!--Propriedades-->
    <td-expansion-panel [expand]="expand">
      <ng-template td-expansion-panel-label>
        <mat-icon class="mat-16" mat-list-avatar>menu</mat-icon>
      </ng-template>
      <ng-template td-expansion-panel-sublabel>
        <mat-list-item>
          <h4 mat-line>Propriedades</h4>
        </mat-list-item>
      </ng-template>
      <td-expansion-summary>
        <mat-list>
          <mat-list-item [routerLink]="['home/lista/propriedade']" class="margin-item-menu" (click)="sidenav.toggle()">
            <h4 mat-line>Listar Propriedades</h4>
          </mat-list-item>
        </mat-list>
      </td-expansion-summary>
    </td-expansion-panel>
    <!--Propriedades-->
    <!--Desativacao-->
    <td-expansion-panel [expand]="expand">
      <ng-template td-expansion-panel-label>
        <mat-icon class="mat-16" mat-list-avatar>menu</mat-icon>
      </ng-template>
      <ng-template td-expansion-panel-sublabel>
        <mat-list-item>
          <h4 mat-line>Desativação</h4>
        </mat-list-item>
      </ng-template>
      <td-expansion-summary>
        <mat-list>
          <mat-list-item [routerLink]="['home/dados/desativação']" class="margin-item-menu" (click)="sidenav.toggle()">
            <h4 mat-line>Dados</h4>
          </mat-list-item>
        </mat-list>
      </td-expansion-summary>
    </td-expansion-panel>
    <!--Desativacao-->
    <!--Usuarios-->
    <td-expansion-panel [expand]="expand">
      <ng-template td-expansion-panel-label>
        <mat-icon class="mat-16" mat-list-avatar>menu</mat-icon>
      </ng-template>
      <ng-template td-expansion-panel-sublabel>
        <mat-list-item>
          <h4 mat-line>Usuarios</h4>
        </mat-list-item>
      </ng-template>
      <td-expansion-summary>
        <mat-list>
          <mat-list-item [routerLink]="['home/lista/usuarios']" class="margin-item-menu" (click)="sidenav.toggle()">
            <h4 mat-line>Listar Usuários</h4>
          </mat-list-item>
          <mat-list-item [routerLink]="['home/leitura']" class="margin-item-menu" (click)="sidenav.toggle()">
            <h4 mat-line>Dados leitura</h4>
          </mat-list-item>
        </mat-list>
      </td-expansion-summary>
    </td-expansion-panel>
    <!--Usuarios-->
    <a mat-list-item (click)="logout()" style="cursor: pointer">
      <div layout="row">
        <mat-icon mat-list-avatar style="margin-left: 25px">exit_to_app</mat-icon>
        <span>Sair</span>
      </div>
    </a>

  </mat-sidenav>
  <mat-toolbar *ngIf="isLogado" class="app-position" color="accent">
    <button mat-icon-button (click)="sidenav.toggle()">
             <mat-icon>menu</mat-icon>
        </button>
    <mat-icon mat-list-avatar>person</mat-icon>
    <div style="margin-left: 6px"><span><b style="font-size: large">{{perfil}}:&nbsp;</b></span><span style="font-size: large">{{nome}}</span></div>
    <img class="logo-menu-principal" src="assets/logo2.png" alt="">
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>
<div class="teste" *tdLoading="'loading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- The Close Button -->
  <span id="closeModal" class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">
  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>