<div layout="row" layout-align="center center">
  <mat-card style="width: 33%">
    <mat-card-title>Propriedade</mat-card-title>
    <mat-card-content>
      <form [formGroup]="formPropriedade">
        <div layout="column">
          <div layout="row">
            <mat-icon class="icon-position">label</mat-icon>
            <mat-input-container style="width: 60%">
              <input mdInput placeholder="Nome" formControlName="nome">
            </mat-input-container>
          </div>
          <div layout="row">
            <mat-icon class="icon-position">room</mat-icon>
            <mat-input-container style="width: 60%">
              <input mdInput placeholder="Rota de acesso" value="1APR_E" formControlName="rotaAcesso">
            </mat-input-container>
          </div>
          <!--<div layout="row" style="margin-top: 15px;">
            <mat-icon class="icon-position">view_comfy</mat-icon>
            <mat-select placeholder="Municipio" name="municipio" style="width: 40%;">
              <mat-option selected *ngFor="let apicultor of apicultores" [value]="apicultor.value">
                  {{apicultor.nome}}
                </mat-option>
            </mat-select>
          </div>           -->
          <div layout="row">
            <mat-icon style="margin-right: 10px;margin-top: 5px;">view_comfy</mat-icon>
            <mat-input-container style="width: 60%">
              <input type="text" mdInput [matAutocomplete]="api" formControlName="municipio" placeholder="Municipio">
            </mat-input-container>
            <mat-autocomplete #api="matAutocomplete" [displayWith]="displayFn" style="width: 60%">
              <mat-option *ngFor="let municipio of ListfilteredMunicipio | async" [value]="municipio">
                {{ municipio.getNome() }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div layout="row" style=" margin-top: 10px">
            <mat-icon class="icon-position">view_comfy</mat-icon>
            <mat-input-container style="width: 40%">
              <input mdInput placeholder="Apicultores" value="Nenhum item selecionado" formControlName="controlItensSelecionados">
            </mat-input-container>
            <a mat-raised-button color="primary" style="height: 35px;margin-left: 24px;" (click)="search($event)">
              <mat-icon>visibility</mat-icon>
            </a>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions layout="row" layout-align="start center">
      <button mat-raised-button color="primary" (click)="salvar()">{{propriedade ? 'Atualizar' : 'Salvar'}}</button>
      <button mat-raised-button color="warn" [routerLink]="['/home/lista/propriedade']">Voltar</button>
    </mat-card-actions>
  </mat-card>
</div>
