<div>
  <div layout="row" layout-align="center center">
    <md-icon *ngIf="type == 'MESSAGE'" style="color: rgb(255, 215, 64);font-size: 40px; margin-bottom: 22px;">warning</md-icon>
    <md-icon *ngIf="type == 'ERRO'" style="color: red;font-size: 40px; margin-bottom: 22px;">error</md-icon>
    <md-icon *ngIf="type == 'SUCCESS'" style="color: green;font-size: 40px; margin-bottom: 22px;">check_circle</md-icon>
  </div>
  <div layout="row" layout-align="center center">
    <h1 md-dialog-title style="margin-bottom: 5px">{{ title }}</h1>
  </div>
  <div md-dialog-content *ngIf="type != 'TABLE'" [innerHTML]="message"></div>
  <div md-dialog-content *ngIf="type == 'TABLE'">
  <md-divider></md-divider>
    <app-table #table style="width: 100%" [data]="data" [paginaTotal]="5" [columns]="columns" [uniqueId]="uniqueId" [itensSelecteds]="itensSelected" (itemSelected3)="itensSelecionados($event)" [selectable]="true" [showPagination]="true" [multiple]="multiple"
      [showSelectionJquery]="true"></app-table>
  </div>
  <div md-dialog-actions layout-align="center center">
    <div layout="row">
      <button md-raised-button color="primary" *ngIf="type == 'MESSAGE'" (click)="dialogRef.close(true)" style="margin-left: 16px;">Sim</button>
      <button md-raised-button color="warn" *ngIf="type == 'MESSAGE'" (click)="dialogRef.close(false)" style="margin-left: 80px;">Não</button>
      <button md-raised-button color="primary" *ngIf="type == 'ERRO' || type == 'SUCCESS'" (click)="dialogRef.close(false)">Ok</button>
      <button md-raised-button color="primary" class="button-m-right" *ngIf="type == 'TABLE'"  [disabled]="listItensSelected.length == 0" (click)="closeTable()">OK</button>
      <button md-raised-button color="warn" *ngIf="type == 'TABLE'" (click)="closeTable()">Cancelar</button>
    </div>
  </div>
</div>
