.button-m-right {
  margin-right: 40px;
}

.icon-message {
  color: rgb(255, 215, 64);
  font-size: 40px;
  margin-bottom: 22px;
}

.icon-error {
  color: red;
  font-size: 40px;
  margin-bottom: 22px;
}

.icon-success {
    color: green;
    font-size: 40px; 
    margin-bottom: 22px;
}
