<div>
  <div layout="row" layout-align="center center">
    <mat-icon *ngIf="type == 'MESSAGE'" class="icon-message">warning</mat-icon>
    <mat-icon *ngIf="type == 'ERRO'" class="icon-error">error</mat-icon>
    <mat-icon *ngIf="type == 'SUCCESS'" class="icon-success">check_circle</mat-icon>
  </div>
  <div layout="row" layout-align="center center">
    <h1 mat-dialog-title style="margin-bottom: 5px">{{ title }}</h1>
  </div>
  <div mat-dialog-content *ngIf="type != 'TABLE'" [innerHTML]="message"></div>
  <div mat-dialog-content *ngIf="type == 'TABLE'">
    <mat-divider></mat-divider>
    <app-table #table class="width-100" [data]="data" [paginaTotal]="5" [columns]="columns" [uniqueId]="uniqueId" [itensSelecteds]="itensSelected"
      (itemSelected3)="itensSelecionados($event)" [selectable]="true" [showPagination]="true" [multiple]="multiple" [showSelectionJquery]="true"></app-table>


  </div>
  <div *ngIf="type =='EDITAR_ASC'">
    <div layout="column" [formGroup]="myGroup">
      <mat-form-field class="width-100">
        <input matInput placeholder="Associação" type="text"  formControlName="name">
      </mat-form-field>
      <mat-form-field class="width-60">
        <input matInput placeholder="Qtd. Pontos" type="number" formControlName="qtdPonto">
      </mat-form-field>
      <mat-form-field class="width-60">
        <input matInput placeholder="Qtd. Caixas" type="number" formControlName="qtdCaixa">
      </mat-form-field>
    </div>
  </div>




  <div mat-dialog-actions layout-align="center center">
    <div layout="row">
      <button mat-raised-button color="primary" *ngIf="type == 'MESSAGE'" (click)="dialogRef.close(true)" style="margin-left: 16px;">Sim</button>
      <button mat-raised-button color="primary" *ngIf="type == 'EDITAR_ASC'" (click)="alterar()">Alterar</button>
      <button mat-raised-button color="warn" *ngIf="type == 'MESSAGE' || type == 'EDITAR_ASC'" (click)="dialogRef.close(false)"
        style="margin-left: 80px;">Não</button>
      <button mat-raised-button color="primary" *ngIf="type == 'ERRO' || type == 'SUCCESS'" (click)="dialogRef.close(false)">Ok</button>
      <button mat-raised-button color="primary" class="button-m-right" *ngIf="type == 'TABLE'" [disabled]="listItensSelected.length == 0"
        (click)="closeTable()">OK</button>
      <button mat-raised-button color="warn" *ngIf="type == 'TABLE'" (click)="closeTable('CANCELAR')">Cancelar</button>


    </div>
  </div>
</div>
