.md-select-trigger{
    color: black !important;
    border-bottom: 1px solid black !important;
}

// MODAL IMAGE
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {opacity: 0.7;}

.group-auto-complete{
    width: 95%;
    position: relative;
    top:-12px;
  }

  .alert-danger{
    color: red;
    position: relative;
    top:-23px;  
  }