<md-card>   
   <md-card-title>Edição do Apiário</md-card-title>   
  <md-card-content>
    <div layout="row" layout-align="center center">
      <div layout="column" flex="60" style="background: rebeccapurple">
        <form>
          <div layout="column">
            <div layout="row">row</div>
            <div layout="row">row</div>
            <div layout="row">row</div>
            <div layout="row">row</div>
          </div>
        </form>
      </div>
      <div layout="column" flex="40" style="background: red">div</div>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="start center">
    <button md-button>Action 1</button>
    <button md-button>Action 2</button>
    <button md-button>Action 3</button>    
  </md-card-actions>
</md-card>