<md-card class="m-20">
  <md-card-title>Dados Leitura</md-card-title>

  <md-card-content>

    <div layout="row">
      <div flex="50">
        <md-card class="m-20">
          <md-card-title>Mortandades</md-card-title>
          <app-table  #table class="width-95 margin-left-5" [data]="listMortande" [paginaTotal]="5" [columns]="columns" [selectable]="false"
            [showPagination]="'true'" [sortable]="true"></app-table>
        </md-card>
      </div>
      <div flex="50">
        <md-card class="m-20">
          <md-card-title>Culturas</md-card-title>
          <app-table #table class="width-95 margin-left-5" [data]="listCultura" [paginaTotal]="5" [columns]="columns" [selectable]="false" [showPagination]="'true'"
            [sortable]="true"></app-table>
        </md-card>
      </div>
    </div>
    <div layout="row">
      <div flex="50">
        <md-card class="m-20">
          <md-card-title>Motivos Desativação</md-card-title>
          <app-table #table class="width-95 margin-left-5" [data]="listMotivoDesativacao" [paginaTotal]="5" [columns]="columns" [selectable]="false"
            [showPagination]="'true'" [sortable]="true"></app-table>
        </md-card>
      </div>
      <div flex="50">
        <md-card class="m-20">
          <md-card-title>Especie Abelha</md-card-title>
          <app-table #table class="width-95 margin-left-5" [data]="listEspecieAbelha" [paginaTotal]="5" [columns]="columns" [selectable]="false"
            [showPagination]="'true'" [sortable]="true"></app-table>
        </md-card>
      </div>
    </div>
    <div layout="row">
      <div flex="50">
        <md-card class="m-20">
          <md-card-title>Atividade Apicula</md-card-title>
          <app-table #table class="width-95 margin-left-5" [data]="listAtividade" [paginaTotal]="5" [columns]="columns" [selectable]="false" [showPagination]="'true'"
            [sortable]="true"></app-table>
        </md-card>
      </div>
      <div flex="50">
      </div>
    </div>
  </md-card-content>
</md-card>
