<md-card style="margin: 20px;">
  <md-card-title>Dados Leitura</md-card-title>

  <md-card-content>
    
    <div layout="row">
      <div flex="33">
        <md-card style="margin: 20px;">
          <md-card-title>Mortandades</md-card-title>
          <app-table style="margin: 25px" #table style="width: 100%" [data]="listMortande" [paginaTotal]="5" [columns]="columns" [selectable]="false" [showPagination]="'true'"
            [sortable]="true"></app-table>
        </md-card>       
      </div>
      <div flex="33">
         <md-card style="margin: 20px;">
          <md-card-title>Culturas</md-card-title>
          <app-table #table style="width: 100%" [data]="listCultura" [paginaTotal]="5" [columns]="columns" [selectable]="false" [showPagination]="'true'"
            [sortable]="true"></app-table>
        </md-card>       
      </div>
      <div flex="33">
         <md-card style="margin: 20px;">
          <md-card-title>Motivos Desativação</md-card-title>
          <app-table #table style="width: 100%" [data]="listMotivoDesativacao" [paginaTotal]="5" [columns]="columns" [selectable]="false" [showPagination]="'true'"
            [sortable]="true"></app-table>
        </md-card>
      </div>

    </div>
    <div layout="row">
      <div flex="33">
        <md-card style="margin: 20px;">
          <md-card-title>Especie Abelha</md-card-title>
          <app-table #table style="width: 100%" [data]="listEspecieAbelha" [paginaTotal]="5" [columns]="columns" [selectable]="false" [showPagination]="'true'"
            [sortable]="true"></app-table>
        </md-card>
      </div>
      <div flex="33">
         <md-card style="margin: 20px;">
          <md-card-title>Atividade Apicula</md-card-title>
          <app-table #table style="width: 100%" [data]="listAtividade" [paginaTotal]="5" [columns]="columns" [selectable]="false" [showPagination]="'true'"
            [sortable]="true"></app-table>
        </md-card>
      </div>
      <div flex="33">        
      </div>

    </div>
  </md-card-content>
</md-card>
